<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>Movie search:</div>
<input #searchBox id="search-box" (keyup)="search(searchBox.value)" />

<div *ngIf="movies.length" class="search-result">
  <div *ngFor="let movie of movies">
    <a href (click)="selectMovie(movie); $event.preventDefault();">
      {{movie.title}}
    </a>
  </div>
</div>

<div *ngIf="!movies.length">
  <span>Фильмы не найдены</span>
</div>

<div *ngIf="selectedMovie">
  <app-movie-info [movie]="selectedMovie"></app-movie-info>
</div>